.menu-button-wrap{
    display: block;

    @media (min-width:320px) and (max-width:768px){
        display: block;
    }
    
}

.menu-button{
    margin: 0;
    padding: 0;
    border: none;
    display: flex;
    background-color: transparent;
    z-index: 20;
    transition: fill  250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    position: relative;

    @media (min-width:768px){
        display: none;
    }


    
    

&:hover,
&:focus{ 
fill: $accent-color;
}

& .icon-close{
    display: none;
}
&.is-open .icon-close{
    display: block;
}

&.is-open .icon-cross{
    display: none;
}
}

.menu-button .is-open{
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
transform: translateX(0%);
}

.menu-container{
    display: none;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 796px;
    padding: 48px 83px 48px 40px;
    background-color: $title-color;
   
    @media (min-width:768px) and (max-width:1200px){
        display: none;
    }

    &.is-open{
        display: block;
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        flex-wrap: wrap;
        height: 100vh;
        
    }

    &__item:not(:last-child){
        margin-bottom: 37px;
    }

    &__link{
        font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    text-decoration: none;
        color: $text-color;
        text-decoration: none;

    }

    &__link:hover,
    &__link:focus{
        color: $accent-color;
    }

}


.menu-contact-list{

    

    &__mob:not(:last-child){
        margin-bottom: 30px;
    }

    &__link{
        font-weight: 500;
font-size: 34px;
line-height: 40px;
/* identical to box height */

letter-spacing: 0.02em;
text-decoration: none;
color: $accent-color;
    }

    &__mel{
        font-weight: 500;
font-size: 24px;
line-height: 28px;
letter-spacing: 0.02em;

color: $main-color;
text-decoration: none;
    }
}

.social-mob{
    display: flex;
    margin-top: 64px;


    &__item:not(:last-child){
        margin-right: 10px;
    }

    &__link{
        text-decoration: none;
        color: $accent-color;
    }

    &__span{
        margin-left: 10px;
        color: $span-menu;
    }
}




