:root {
    --main-font:'Raleway', sans-serif;
    --title-font: 'Roboto', sans-serif;
    --text-color: #212121 ;
    --title-color: #FFFFFF;
    --main-color: #757575;
    --accent-color: #2196F3;
    --work-fon:#2F303ACC;
    --button-color: #F5F4FA;
    --rgba-color:rgba(255, 255, 255, 0.6);
    --icon-color: #AFB1B8;
    --fon-color:#2F303A;
    --border-header:#ECECEC;
    --picture-fon:#2196F3E5;
    --border-picture: #EEEEEE;
    --modal-color:#0000001A;
    --button-modal:#188CE8;
    --span-menu:#21212133;
}